body, html {
  margin: 0px;
  padding: 0px;
  background-color: rgba(0,0,0,0.06);
}
body {
  min-height: 100%;
}

.axis path {
  stroke: none;
}

.axisX .tick line {
  stroke: rgba(100, 120, 180, 1);
}

.axisX .tick text {
  transform: translate(5px,0) rotate(60deg);
  text-anchor: start;
}

rect {
  transition: fill 0.7s;
  fill: rgba(100, 120, 180, 1);
}

.fbPageTimeline {
  margin-top: 50px;
}

.likesCount path {
  stroke: #3e8f3e;
  stroke-width: 1;
  fill: none;
}

.commentsCount path {
  stroke: #e38d13;
  stroke-width: 1;
  fill: none;
}

.sharesCount path {
  stroke: #b92c28;
  stroke-width: 1;
  fill: none;
}

.timeline {
  fill: none;
  stroke-width: 1;
  stroke: steelblue;
}
